<!-- templates/form.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Say Hello</title>
</head>
<body>
    <h1>Enter your name</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Your name" required>
        <input type="text" name="age" placeholder="Your age" required>
        <select name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="purple">Purple</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
        <!-- <button type="submit">Submit</button>-->
    </form>
</body>
</html>